@model WishList.Models.Item

<h3>Add item to wishlist</h3>

<form asp-action="create">
    <input asp-for="Description" />
    <button type="submit">Add Item</button>
    <div>
        <span asp-validation-for="Description"></span>
    </div>
</form>

